* {
    background-color: light blue;
    box-sizing: border-box;
}

/* Nav CSS */

#navbar{
    display: flex;
    align-items: center;
    font-weight: bold;
}

#left-nav{
    padding: 2%;
    display: flex;
    gap: 100px
}

#right-nav{
    margin-left: auto;
    padding: 2%;
}

#home-link{
    color: #9c9173;
}

#nav-link{
    color: black;
}

#navbar a {
    text-decoration: none;
}


/* Footer CSS */

footer{
    background-color: #D8CBA8;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2px;
}

/* Results Page Css */
#page-container{
   text-align: center;
}

#results-container{
    background-color: #D8CBA8;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 50px;
    display:flex;
    justify-content: center;
    box-shadow: 2px 2px lightgrey;
    margin-bottom: 2%;
}

.result-card{
    background-color: #F2E8CE;
    margin-top:5%;
    margin-bottom:5%;
    border-radius: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

#explanation-container{
    margin-top: 20px;
}
.explanation-card{
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px lightgrey;
}


/* Game page css */

#gameContainer{
    background-image: url("./assets/train.png");
    background-position: center;
    height: 300px;
    width: 100%;
    display:flex;
    justify-content: end;
}

.speech-bubble{
    background-color: aliceblue;
    margin-top:5%;
    height: 100px;
    width: 30%;
    text-align: center;
    justify-content: center;
    border-radius: 100px;
}

/* Login and Register pages */
#accounts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

input {
    width: 250px;
}

/* Initial Settings Page */
#start {
    margin: 20px;
    display: flex;
    justify-content: right;
    align-items: right;
}

#gameContainerInitialSetting {
    background-image: url("./assets/train.png");
    background-position: center;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#initialSetting {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(156, 145, 115, 0.9);
}
